.about-container {
    width: 100 vw;
    height: 100 vh;




    .about-contain {
        text-align: center;

        .logo {

            margin: 0 auto;
            text-align: center;
            margin-top: 15%;

        }

        /*position: relative;
        margin-left: 30%;
        padding: 50px;*/



        .span {
            color: orangered;
        }
    }

    h1 {
        color: white;
        padding-bottom: 40px;
        text-align: center;
        padding-bottom: 100px;

    }
}