.cv-container {
    margin-top: 20%;

    .cv-contains {
        width: 100vw;
        font-size: 1.3em;


        .info {
            h1 {
                color: orangered;
                text-align: center;
                margin: 100px 0 100px 0;
            }

            p {
                margin-top: 25px;
                text-align: center;
            }

            margin: 0 auto;
            width: 80%;

            .btn-cv {
                text-align: center;

            }
        }

        .formExp {


            .formations,
            .experiences {
                position: relative;
                margin: 0 auto;
                margin-top: 10%;
                padding-top: 50px;
                width: 90%;
                background-color: $menu;
                border-radius: 2%;
                zoom: 90%;


                &:hover {
                    zoom: 91%;

                }


                h1 {
                    color: orangered;
                    text-align: center;
                }

                ul {
                    padding-left: 5%;

                    li {
                        padding-bottom: 70px;

                        p {
                            color: red;
                        }

                    }
                }
            }
        }
    }
}