.menu {
    font-size: 1.6rem;
    position: fixed;
    top: 0;
    height: 150px;
    width: 100vw;

    nav {
        margin-top: 5%;
        margin-left: 20%;
        margin-right: 20%;

        ul {
            display: flex;
            padding-bottom: 20px;
            border-bottom: groove;
            border-width: 0.5px;


            li {
                border-radius: 10px;
                width: 100%;
                text-align: center;
            }

            a {
                transition: color 1s;
                text-decoration: none;
                border-radius: 10px;
                margin: 0 auto;


                &:visited {
                    text-decoration: none;
                    color: $white;
                }

                &:hover {
                    color: red;
                    font-size: 2rem;
                    transition: font-size 4s;
                }

                transition: font-size 4s;
            }


            a.nav-active {
                color: orangered;
                border-bottom: 5px;
            }
        }
    }
}

.menuHide {
    display: none;
}