.portefolioC {
    margin-top: 20%;


    h1 {
        text-align: center;
        color: orangered;

    }

    .portefolio {

        .listeProjets {
            display: flex;
            margin: 0 auto;
            width: 100%;
            overflow: hidden;
        }


    }

}