@font-face {
    font-family: "font-1";
    src: url(../assets/fonts/Lobster-Regular.ttf);
}

$font-1: "font-1", sans-serif;

// variables
$black: #071244;
$white: rgb(238, 238, 238);
$menu: #27313D;
$bg: #343D47;

// init
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    h1 {
        font-family: $font-1;
    }

}

body {


    //background-color: $bg;
    background-image: url(../assets/img/bgSite.webp);
    background-attachment: fixed;

    color: $white;



    h1,
    h2 {

        color: $white;
        padding-bottom: 30px;
    }

    li {
        list-style: none;
    }
}